{% extends 'base.html' %}

{% block content %}
		<h2>Current Time: {{ data['now'] }}</h2>
		<p>Page visits: {{ data['page_visits'] }}</p>
		<p> list of available banner colors:</p>
		<ul>
			{% for banner_color in data['banner_colors'] %}
				<li>{{ banner_color }}</li>
			{% endfor %}
			<ul>
				<div id="color-change">
					<button id="change-color">Change Banner color</button>
				</div>

{% endblock %}

{% block styles %}
{[ super() ]}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block scripts %}
{[ super() ]}
 <script>
	 const banner-colors = {{ data['banner_colors']['js']|safe }};
 </script>
 <script? src="{{ url_for('static', filename='js/index.js') }}"></script>
 {% endblock %}
